// Colors
$primary-color: #052641;
$secondary-color: #DD5757;
$tertiary-color: #6EFAD7;
$quaternary-color: #F4F954;
$quinary-color: #db2360;
$light-color: #fff;
$dark-color: #2D2D2D;
$medium-light-grey-color: #EEEEEE;
$medium-dark-grey-color: #505050;